/********Common CSS********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
p {
    margin-bottom: 20px;
}
img {
    max-width: 100%;
}
.highlight {
    color: #FFAD5A;
}
.container {
    width: 1128px;
    max-width: 100%;
    margin: 0 auto;
}
.half-width {
    width: 50%;
    float: left;
}
.d-flex {
    display: flex;
    align-items: center;
    align-content: center;
}
/*****Hero Section*****/
section.hero-area {
    padding: 40px 0;
    overflow: hidden;
}
.hero-title {
    position: relative;
    margin-bottom: 30px;
}
.hero-title:before {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 0;
    border-left: 5px solid #FF5959;
    border-radius: 10px;
}
.hero-title h1 {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    color: #333333;
    margin-left: 15px;
}
.button {
    margin-top: 30px;
    margin-bottom: 30px;
}
.button a {
    padding: 10px 30px;
    background-color: #FF5959;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.profile-img {
    text-align: center;
}
.profile-img img {
    width: 400px;
}